<div class="nav-wrapper">
  <a href="/" class="brand-logo hide-mobile"><img src="/img/logo/newstapa.png" alt="뉴스타파"></a>
  <a href="/" class="brand-logo logo-main hide-desktop">
    <img class="main" src="/img/logo/newstapa-mobile.png" alt="뉴스타파">
  </a>
  <a href="/" class="brand-logo logo-normal hide-desktop">
    고위공직자 재산 정보 공개
  </a>
  <ul id="slide-out" class="side-nav">
    <li><a href="/#about">소개</a></li>
    <li><a href="http://newstapa.org/tag/%EA%B3%A0%EC%9C%84%EA%B3%B5%EC%A7%81%EC%9E%90%EC%9E%AC%EC%82%B0" target="_blank">보도사례</a></li>
    <li><a href="/#data">데이터</a></li>
    <li><a href="/#contact">연락하기</a></li>
    <li class="nav-footer">
      <img src="/img/logo/nav-footer.png" alt="뉴스타파 & CCKOREA">
      <p>Copyright 2018<br>
        Creative Commons Korea<br>
        The Korea center For Investigation Journalism<br>
        Some right reserved.
      </p>
      <img class="cc-by-license" src="/img/by.png" alt="CC BY">
    </li>
  </ul>
  <ul class="right">
    <li><a class="nav-btn kakao" href="https://story.kakao.com/ch/newstapa" target="_blank"></a></li>
    <li><a class="nav-btn facebook" href="https://facebook.com/newstapa" target="_blank"></a></li>
    <li><a class="nav-btn twitter" href="https://twitter.com/newstapa" target="_blank"></a></li>
    <li>
      <div class="donate-mobile">
        <a class="nav-btn donate" href="http://newstapa.org/donate" target="_blank"></a>
      </div>
      <div class="donate-desktop">
        <a class="nav-btn donate" href="http://newstapa.org/donate" target="_blank">후원하기</a>
      </div>
    </li>
    <li>
      <div class="donation-counter">
        <div class="title">현재 정기후원</div>
        <div class="number"></div>
      </div>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>
